{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
    {% if is_front %}
        <div class="frontpage__branding">
            <div class="frontpage__branding-logo"><a class="logo-link" href="{{ path('<front>') }}"><img src="../images/large-logo.png" height="140" width="449"></a> </div>
            <div class="frontpage__branding-title">
                {{ title }}
            </div>
        </div>
    {% else %}
        {% if site_logo %}
            {% if not page.frontpage %}
            <a class="logo navbar-btn pull-right" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
                <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
            </a>
            {% endif %}
            <a href="/user/logout" class="btn btn-default project-btn logout">Logout</a>
            
            <a class="toggle" href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a>

        {% endif %}
        {% if site_name %}
            <a class="name navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        {% endif %}
        {% if site_slogan %}
            <p class="navbar-text">{{ site_slogan }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
