{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% set DEBUGGING = false %}
{% set SHOW_CLEAR_PASSWORD = false %}
{%
set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
]
%}
{% if true %}
<article>
    {% if DEBUGGING %}
        <div style="font-size: 10px; color: gray; display: none;">
            <p style="margin-bottom: 0px;">URL: {{ url }}</p>
            <br>
            <p style="margin-bottom: 0px;">Project Id: {{ node.field_project.target_id }}</p>
            <p style="margin-bottom: 0px;">Project Password: {{ projectPassword }}</p>
            <p style="margin-bottom: 0px;">Has Project Password: {% if hasProjectPassword %}True{% else %}False{% endif %}</p>
            <p style="margin-bottom: 0px;">Campaign Id: {{ campaignId }}</p>
            <p style="margin-bottom: 0px;">Campaign Password: {{ campaignPassword }}</p>
            <p style="margin-bottom: 0px;">Has Campaign Password: {% if hasCampaignPassword %}True{% else %}False{% endif %}</p>
            <br>
            <p style="margin-bottom: 0px;">User Posted Password: {{ userPostedPassword }}</p>
            <p style="margin-bottom: 0px;">User Project Password: {{ userProjectPassword }}</p>
            <p style="margin-bottom: 0px;">User Campaign Password: {{ userCampaignPassword }}</p>
            <br>
            <p style="margin-bottom: 0px;">Has User Password: {% if hasUserPassword %}True{% else %}False{% endif %}</p>
            <p style="margin-bottom: 0px;">User Password Correct: {% if userPasswordCorrect %}True{% else %}False{% endif %}</p>
            <p style="margin-bottom: 0px;">Password Cleared: {% if passwordCleared %}True{% else %}False{% endif %}</p>
            <br>
            <p style="margin-bottom: 0px;">_SESSION:</p>
            <pre>{{ _SESSION }}</pre>
        </div>
    {% endif %}
    {% if not hasProjectPassword and not hasCampaignPassword %}
        <h3>Password Required</h3>
        <p>Please ask your TVGla Producer to provide the password to view this content.</p>
    {% elseif logged_in or (userPasswordCorrect and not passwordCleared) %}
        {% if logged_in %}
            <p style="color: #aaa; font-size: 8px;">NO PASSWORD REQUIRED, SINCE YOU ARE LOGGED IN TO CRT</p>
        {% endif %}
        {{ content }}
        {% if SHOW_CLEAR_PASSWORD %}
            <p><a href="{{ url }}?cmd=clear_password">Clear Your Password</a></p>
            <p>&nbsp;</p>
        {% endif %}
    {% else %}
        <h3>Password Required</h3>
        {% if passwordCleared %}
            <div class="alert alert-success">Your information was cleared.</div>
        {% endif %}
        {% if hasUserPassword and not passwordCleared %}
            <div class="alert alert-danger"><strong>Sorry, your entry is incorrect</strong></div>
        {% endif %}
        <p>Please enter the password to view this content</p>
        <form method="post" action="{{ url }}">
            Password: 
            <input type="password" id="direct-link-pass" name="direct-link-pass" />
            <input type="submit" />
        </form>
    {% endif %}
</article>
{% else %}
<article{{ attributes.addClass(classes) }}>

    {{ title_suffix }}

    {% if display_submitted %}
        <footer>
            {{ author_picture }}
            <div{{ author_attributes.addClass('author') }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}

    <div{{ content_attributes.addClass('content') }}>
        <span class="content_title">{{ label }}</span>
        {{ content }}
    </div>

</article>
{% endif %}