{% set direct_asset_page = path('<current>') matches '{^/clients/.+/.+}' %}
{% set system_error_page = '/system/404' in path('<current>') %}
{% set password_reset_page = '/user/password' in path('<current>') %}
{% set sidebar_first = page.sidebar_first %}

{% block main %}
<div class="wrapper">
    {% if not direct_asset_page and not system_error_page %}
        {% if not logged_in %}
        <div class="frontpage__header" id="header">
            <div class="column col-sm-4 col-centered">
                <div class="frontpage__logo">
                    <a href="{{ path('<front>') }}">
                        <img class="frontpage__logo-img img-responsive" src="/themes/bootstrap_sub/images/large-logo.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="login_desc">
            PLEASE LOG IN
        </div>
        {% else %}
            {% if not page.sidebar_first %}
            <div class="frontpage__header_sm" id="header">
                <div class="column col-sm-3 col-centered">
                    <div class="frontpage__logo_sm">
                        <a href="{{ path('<front>') }}">
                            <img class="frontpage__logo-img img-responsive" src="/themes/bootstrap_sub/images/large-logo.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="project_review">
                PROJECT REVIEW   
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
    
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="sidebar__toggle" style="display: none"><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></div>
        <!-- sidebar -->
        {% if page.sidebar_first %}
        {# Nav Toggle #}
        <div class="column col-sm-3 sidebar-offcanvas scrollable" id="sidebar">
                {% block sidebar_first %}
                    {{ page.sidebar_first }}
                {% endblock %}
            <div class='uil-ring-css' style='transform:scale(0.35);'><div></div></div>
            <div class="nav" id="menu">
                <ul class="tabs--primary nav nav-tabs">
                    <li id="review" class="active"><a href="#" data-drupal-link-system-path="#">Review</a></li>
                    <li id="approved" ><a href="#" data-drupal-link-system-path="#">Approved</a></li>
                </ul>
            </div>
        </div>
        <!-- /sidebar -->

        <!-- main right col -->
        <div class="column col-sm-9 projectpage_main-container" id="main">
        {% else %}
            <div class="column col-sm-12 frontpage__project-container" id="main">
        {% endif %}
        {# Navbar #}
        {% if page.navigation or page.navigation_collapsible %}
            {% block navbar %}
                <nav class="navbar navbar-static-top">
                    {{ page.navigation }}
                </nav>
            {% endblock %}
        {% endif %}

            {# Header #}
            {% if page.header %}
                {% block header %}
                    <div role="heading">
                        {{ page.header }}
                    </div>
                {% endblock %}
            {% endif %}

            {# Highlighted #}
            {% if page.highlighted %}
                {% block highlighted %}
                    <div class="highlighted">{{ page.highlighted }}</div>
                {% endblock %}
            {% endif %}

            {# Breadcrumbs #}
            {% if breadcrumb %}
                {% block breadcrumb %}
                    {{ breadcrumb }}
                {% endblock %}
            {% endif %}

            {# Action Links #}
            {% if action_links %}
                {% block action_links %}
                    <ul class="action-links">{{ action_links }}</ul>
                {% endblock %}
            {% endif %}

            {# Help #}
            {% if page.help %}
                {% block help %}
                    {{ page.help }}
                {% endblock %}
            {% endif %}

            {# Content #}
            {% block content %}
                {% if not password_reset_page %}
                    {% if not logged_in and not direct_asset_page %}
                    <div class="column col-sm-3 col-centered">
                        <a id="main-content"></a>
                        {# <p>Content 1</p> #}
                        {{ page.content }}
                    </div>
                    {% elseif logged_in %}
                        {% if not is_admin %}
                        {% endif %}
                        <a id="main-content"></a>
                        {# <p>Content 2</p> #}
                        {{ page.content }}
                    {% elseif direct_asset_page %}
                    <div class="column col-sm-9 col-centered">
                        <a id="main-content"></a>
                        {# <p>Content 3</p> #}
                        {{ page.content }}
                    </div>
                    {% endif %}
                {% endif %}
            {% endblock %}
            <div id="ajax-data" style="display: none"></div>
        </div>
        <!-- /main -->
    </div>
</div>
{% endblock %}