{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
<div class="panel-group navbar-default">
  {% if title %}
      <div class="panel-heading" role="tab" id="{{ class }}">
        <h4>
          <a href="#" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="collapsed">
            {{ title }}
            <i class="pull-right fa fa-caret-down"></i>
          </a>
        </h4>
      </div>
  {% endif %}


    {% for row in rows %}
    <div class="panel panel-dropdown" role="tabpanel" aria-labelledby="{{ class }}" aria-expanded="false">
        <div class="row-content">
            <span class="dropdown-link glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            {{ row.content }}
        </div>
    </div>
    {% endfor %}
</div>