.project-btn,
button#edit-submit {
    background-color: #999999;
    margin: 7px;
    padding: 6px;
    border: none;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    color: #ffffff;
    border-bottom: transparent;
    min-width: 132px;
    max-width: 132px;
}

.project-btn:hover,
.project-btn:active,
button#edit-submit:hover,
button#edit-submit:active {
    background-color: #666666;
    color: #ffffff;
}

button#edit-submit {
    margin: 0;
}

a.create-account-link,
a.request-password-link {
    color: #000;
}

.user-login-form #edit-actions {
    text-align: right;
}

.block ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu ul.tabs--primary.nav.nav-tabs li{
    width: 50%;
    display: inline-block;
    margin: 1px 0 0;
    text-align: center;
    border: none;
    background: #999;
}

#menu ul.tabs--primary.nav.nav-tabs li a {
    border-radius: 0;
    margin: 0;
    padding: 4px;
}

.review {
    display: block;
}

.approved {
    display: none;
}