.frontpage__header {
    height: auto;
}

.frontpage__header_sm {
    height: auto;
}

.frontpage__logo {
    margin: 8% 0;
    width: 100%;
}

.frontpage__logo_sm {
    margin-top: 8%;
    width: 60%;   
}

.frontpage__header .column {
    width: 26% !important;
}

.path-frontpage .form-text {
    border: #000 solid 2px;
    border-radius: 0px !important;
    height: 40px;
}

.login_desc {
    border-bottom: 4px solid #cf242e;
    margin-left: 38%;
    width:65%;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}

.project_review {
    border-bottom: 4px solid #cf242e;
    padding-left: 11.5%;
    padding-bottom: 1%;
    width:100%;
    font-weight: bold;
    font-size: 18px;
}

section#block-front-editor-tools {
    text-align: right;
    position: relative;
    display: block;
    clear: both;
    margin-right: 10px;
    padding-bottom: 20px;
}

.row-frontpage {
    padding-right: 10%;
    padding-left: 10%;
    margin: 20px 0 20px;
}

.frontpage__item-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #666666;
    text-align: center;
}

.frontpage__project-grid-item {
    width: 200px!important;
    min-height: 160px;
    max-height: 200px;
    display: inline-block;
    margin: 0 15px;
}

.frontpage__item-image {
    display: block;
    margin: 0 auto 10px;
}

.frontpage__item-image img {
    border: 1px solid #666666;
    width: 200px;
}

#client-dropdown {
    display: none;
    float: left;
    border: 1px solid #999999;
    background: none;
    width: 200px;
    margin: 7px 0px;
    text-align: center;
}

#client-dropdown span.caret {
    margin-right: 5px;
}

#client-dropdown .client-dropdown-selected {
    width: 80%;
    display: inline-block;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -2px;
}

#client-dropdown button {
    width: 100%;
    max-width: none;
}

ul.client-dropdown.dropdown-menu {
    width: 200px;
    border-radius: 0;
    background: #f2f2f2;
}

#client-dropdown .project-btn {
    background: none;
    margin: 0;
    font-weight: 800;
    color: #999999;
}

form#user-login-form {
    margin-bottom: 10px;
    margin-top: 20px;
}

.client-dropdown {
    max-height: 400px;
    overflow-y: scroll;
}

.client-dropdown li a {
    text-align: left;
    margin-left: 0;
    padding-left: 10px;
}

#block-userlogin-2 {
    width:30%;
    margin: 0 auto;
}