body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

html, body {
    height: 100% !important;
}

.block ul {
    margin: 0;
    padding: 0;
}

.block ul li {
    list-style-type: none;
}

.col-centered {
    float: none;
    margin: 15px auto;
}

section#block-contenttype {
    display: none;
}

#cboxOverlay {
    opacity: 0.9;
    background: #000000;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

a.toggle{
    display: none;
}

a.internal-link,
a.external-link{
    text-overflow: ellipsis;
}

a:hover, a:focus,
span.dropdown-link.glyphicon.glyphicon-triangle-right:hover,
span.dropdown-link.glyphicon.glyphicon-triangle-right:focus {
    color: #f2f2f2;
    text-decoration: none;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.wrapper, .row {
    display: table;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.navbar {
    position: static;
    background: #f2f2f2;
    margin-bottom: 75px;
    min-height:0;
    max-height: 43px;
    text-align: right;
}


