body {
    margin-top: 0;
}

#main {
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    height: 100%;
}
#main.col-sm-9 {
    padding: 0;
}

.projectpage_main-container{
    background: #ffffff!important;
}

.frontpage__project-container {
    overflow: visible;
}

#main .logo{
    float: right;
}

.project-display__title {
    text-align: center;
    margin-bottom: 15px;
    color: #666666;
}

section#block-projectmenublock {
    display: none;
    border: none;
    margin: 0;
    float: left;
    max-height: 43px;
}

#toolbar-link-Yfk_srXQ1BfFX2Sn:before {
    background-image: url(/core/themes/stable/images/core/icons/787878/people.svg);
}

#main .views-field-field-image {
    text-align: center;
    margin: 0 auto;
}

#main .region-content .views-field-field-image .field-content ul {
    list-style-type: none;
}

#main .region-content .views-field-field-image .field-content ul li {
    margin: 10px 0 30px;
}

.region-content {
    display:table;
    text-align: center;
    width: 100%;
}

.image-caption {
    text-align: center;
    margin: 15px 0;
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px dashed #252525;
}

.imageGroup {
    margin-bottom: 50px;
}

.caption {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    margin: 5px auto;
    min-width: 250px;
    max-width: 650px;
}

.ajax-image {
    max-width: 100%;
}

.views-field.ajax-field {
    border: 1px solid #121212;
    padding: 10px;
    margin: 0 0 5px;
    background: #121212;
}

.video-js {
    margin: 15px auto;
}

