/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 640px) {
    .frontpage__header {
        height: 25%!important;
    }

    .col-centered {
        margin: 0;
    }

    .row-frontpage {
        margin-top: 10%;
    }

    #main {
        left: 0;
    }

    .col-sm-3.frontpage__project-grid {
        width: 100%!important;
        margin-bottom: 10px;
    }

    #sidebar {
        display: none;
        width: 100%;
    }

    .navbar {
        margin-bottom: 10%;
    }

    .sidebar__toggle {
        float: left;
        position: relative;
        padding: 4% 4%;
        z-index: 11;
    }

    .navbar-btn {
        margin: 0 3px 5px 2px!important;
    }

    .sidebar__toggle.active {
        float: right;
    }

    .caption {
        max-width: 250px!important;
    }

    section#block-front-editor-tools {
        text-align: center!important;
    }

    .project-btn {
        min-width: 0!important;
        max-width: 100%;
        margin: 2px 2px!important;
    }

    #main .region.region-navigation {
        margin-top: 5px!important;
    }

    section#block-projectmenublock {
        border: none;
        float: left;
        max-height: 43px;
        margin: 0 0 0 47px!important;
    }

    .editor-tools {
        display: none;
    }

    #client-dropdown {
        float: none!important;
        margin: 0 auto!important;
        width: 100%!important;
    }
}