#drupal-modal {
    background-color: rgba(1,1,1,0.5);
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@media (min-width: 768px) {
    #drupal-modal .modal-dialog {
        width: 80%;
        max-width: 1000px;
    }
}

#drupal-modal .layout-region.layout-region-node-footer {
    display: none;
}

#drupal-modal label,
#drupal-modal h4.label{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-right: 5px;
}

#drupal-modal h4.label {
    margin: 0;
    padding: 0;
    color: #222222;
}

#drupal-modal legend {
    display: block;
    width: 8%;
    padding: 0;
    line-height: inherit;
    color: #333;
    border: 0;
    float: left;
    font-size: 14px;
    font-weight: 500;
}

#drupal-modal .layout-region-node-main > div {
    margin-bottom: 15px;
}

#drupal-modal label:after,
#drupal-modal legend:after,
#drupal-modal h4.label {
    content: ': ';
}

#drupal-modal .form-radios label:after {
    content: '';
}

#drupal-modal .fieldset-wrapper {
    float: left;
}

#drupal-modal .path-form,
#drupal-modal .node-form-author,
#drupal-modal .node-form-options,
#drupal-modal .menu-link-form,
#drupal-modal .entity-meta__last-saved,
#drupal-modal .form-item-author {
    display: none;
}

#drupal-modal .js-form-type-managed-file {
    background: #ffffff;
}

#drupal-modal .details-description {
    margin: 10px 0;
    font-weight: 800;
    color: red;
}

.ui-autocomplete {
    z-index: 2000;
}

#drupal-modal .form-actions {
    text-align: right;
}
#drupal-modal .form-actions .button {
    width: auto !important;
    height: auto !important;
    padding: 6px 26px !important;
    border: 1px solid transparent !important;
}

#drupal-modal .form-actions input {
    margin-right: 10px;
}
#drupal-modal .form-actions label::after {
    content: "" !important;
}
#drupal-modal .form-actions label {
    margin-right: 50px;
    color: #888;
    font-weight: 600;
    font-size: 12px !important;
}
#drupal-modal .form-actions .button {
    display: inline-block !important;
}

#drupal-modal .modal-footer {
    display: none;
}

#drupal-modal .field--name-field-round {
    display: none;
}
#drupal-modal .node-asset-round-edit-form .field--name-field-round {
    display: block;
}

#drupal-modal h4.modal-title {
    color: #d22128;
}

#drupal-modal .paragraphs-dropbutton-wrapper button {
    margin: 10px 10px 0 0;
}

#drupal-modal .form-type-vertical-tabs {
    display: none;
}

#drupal-modal .tabledrag-toggle-weight {
    display: none;
}
