
#sidebar {
	font-family: 'Raleway', sans-serif;
	background-color: #666666;
	padding: 0;
	float: left;
	min-height: 100%;
	min-width: 250px;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
}

#sidebar .collapse.in {
	display: inline;
}
#sidebar #menu .tabs--primary a {
	text-transform: uppercase;
	font-weight: 500;
	padding: .75em;
	line-height: 1em;
}
#sidebar #menu .tabs--primary li {
	border: 1px solid #666666;
}
#sidebar #menu li a {
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}
#sidebar #menu li.active a {
	background: #d22128;
} 

#sidebar #menu .category a {
	color: #fff;
	font-weight: 500;
}
#sidebar #menu .category a:hover {
	color: #333;
}

.sidebar__toggle {
	display: none;
}

.menu-hidden {
	visibility: hidden;
}

#sidebar #menu .badge {
	background-color: #707070;
	font-weight: 500;
	font-size: 10px;
	text-transform: lowercase;
}

.navbar-default {
	background-color: transparent;
}

#sidebar #menu .panel-heading {
	background: #343434;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
#sidebar #menu .panel-heading h4 {
	font-weight: 500;
}

.panel-group .panel + .panel {
	margin-top: 0;
}

.nav-tabs {
	border-bottom: 1px solid #666666;
}

.nav-tabs > li > a {
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #ffffff;
	background-color: #aaaaaa;
	border-bottom-color: transparent;
	cursor: pointer;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #ffffff;
	background-color: #666666;
	border-bottom-color: transparent;
	cursor: default;
}

.navbar-btn {
	margin: 5px 10px 0;
}

a.navbar-logout {
	float: right;
	padding: 14.5px 20px;
	font-size: 15px;
	line-height: 21px;
	height: 50px;
	color: #ddd;
}

#sidebar .panel {
	border: none;
	background-color: #666666;
}

#sidebar .panel-group {
	margin-bottom: 5px;
	margin-top: 0;
}

#sidebar .panel-dropdown-container {
	display: none;
}

#sidebar .panel-group .panel {
	border-radius: 0;
}

#sidebar .list-group {
	margin-bottom: 0;
}

#sidebar .list-group-item {
	background: #999999;
	padding: 5px 5px;
	margin: 1px 0 1px;
	border: none;
}

#sidebar .list-group-item:first-child {
	border-radius: 0;
}

#sidebar .list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#sidebar .asset-round {
	background-color: #707070;
}

#sidebar .asset-round a {
	margin-left: 26px;
}

span.glyphicon.glyphicon-expand a {
	position: relative;
	left: 5px;
	top: -1px;
}

span.dropdown-link.glyphicon.glyphicon-triangle-right,
span.dropdown-link.glyphicon.glyphicon-triangle-bottom{
	display: block;
	float: left;
	font-size: 10px;
	color: #ffffff;
	margin-right: 5px;
	position: relative;
	top: 5px;
	z-index: 10;
	margin-left: 10px;
	cursor: pointer;
}
span.dropdown-link.glyphicon.glyphicon-triangle-right:hover,
span.dropdown-link.glyphicon.glyphicon-triangle-bottom:hover {
	color: #333;
}

.fa-2x {
	font-size: 1.3em !important;
	color: #808080;
}

.fa-caret-down {
	visibility: hidden;
}

h2.block-title {
	border-bottom: 1px solid #262626;
	padding-bottom: 6px;
	color: #ddd;
	margin-top: 0;
}

@media screen and (max-width: 768px) {
	#sidebar {
		display: none;
		min-width: 250px;
	}

	#sidebar .visible-xs {
		display: inline !important;
	}

	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.row-offcanvas-left.active {
		left: 45%;
	}

	.row-offcanvas-left.active .sidebar-offcanvas {
		left: -45%;
		position: absolute;
		top: 0;
		width: 45%;
	}
}

@media screen and (min-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-left.active {
		left: 3%;
	}

	.row-offcanvas-left.active .sidebar-offcanvas {
		left: -3%;
		position: absolute;
		top: 0;
		width: 3%;
		text-align: center;
		min-width: 42px;
	}
}

@media screen and (max-width: 460px) {
	a.navbar-logout {
		padding: 14px 14px 0 0;
	}
}

.project-branding {
	display: block;
	color: #ffffff;
	clear: both;
}

.project-branding__image {
	float: left;
	margin-right: 15px;
	border: 1px solid #959595;
	min-height: 50px;
	display: block;
}

.project-branding__client {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

.project-branding__project {
}

section#block-views-block-project-branding-block-1 {
	padding: 10px;
	background-color: #4d4d4d;
}

.views-field-field-image img.img-responsive {
	margin: 15px auto;
}



/* Sidebar campaign info */
#block-campaign-info .form-group .view {
	text-align: left;
	width: 100%
}
#block-campaign-info .view-header {
	display: block;
	padding: 15px;
	font-weight: 500;
	color:#fff;
}
#block-campaign-info .view-header::after {
	content: '';
	display: block;
	clear: both;
}
#block-campaign-info .view-header a {
	color:#fff;
}
#block-campaign-info .view-header a:hover {
	color:#d22127;
}
#block-campaign-info .view-header img {
	display: block;
	float: left;
	max-width: 50%;
	margin-right: 10px;
}