/**
 * Place your custom styles here.
 */
body {
    background: url('../images/pattern.jpg');
    background-repeat: repeat;
    color: #dddddd;
}

#cboxTitle {
    bottom: 0;
    color: #000000;
}

#loading {
    height: 300px;
    width: 400px;
    background: url('../images/ajax-loader.gif') no-repeat;
    position: absolute;
    z-index: 10;
    top: 47%;
    left: 43%;
    display: none;
}

.navbar {
    position: static;
    background: #222222;
    border: 1px solid #121212;
    margin-bottom: 10px;
}

h1.page-header {
    color: #ddd;
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    color: #ddd;
    font-size: 20px;
    margin: 20px 0 15px;
}

h4 a, h4 a:hover, h4 a:focus {
    color: #dddddd;
    text-decoration: none;
}

label {
    color: #DDDDDD;
}

a.navbar-logout {
    float: right;
    padding: 14.5px 20px;
    font-size: 15px;
    line-height: 21px;
    height: 50px;
    color: #ddd;
}

span.glyphicon.glyphicon-expand a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    position: relative;
    left: 5px;
    top: -1px;
}

span.dropdown-link.glyphicon.glyphicon-menu-down {
    display: block;
    float: left;
    font-size: 16px;
    color: #a4a4a4;
    margin-right: 7px;
    position: relative;
    top: 10px;
    z-index: 10;
    margin-left: 10px;
    cursor: pointer;
}

.nav-tabs {
    border-bottom: 1px solid rgba(103, 103, 103, 0.62);
}

.nav-tabs > li > a {
    color: #dddddd;
    cursor: pointer;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #dddddd;
    background-color: rgba(56, 56, 56, 0.76);
    border: 1px solid rgba(103, 103, 103, 0.62);
    border-bottom-color: transparent;
    cursor: pointer;
}

/**.nav-tabs {
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-radius: 4px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #666666;
    background-color: #F5F5F5;
    border-top: none;
    border-left: #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 0;
}

.nav-tabs>li>a {
    border-radius: 0;
}*/

.navbar-btn {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0;
}

div#edit-actions .js-form-submit {
    margin: 0 5px 0 0;
}

article.contextual-region.tvgla-asset.tvgla-project.clearfix,
article.contextual-region.tvgla-asset.tvgla-category.clearfix {
    border: 0;
    padding: 0;
    background: none;
}

section.col-sm-9:first-of-type article {
    display: block;
}

.field--item .tvgla-project {
    float: left;
    margin: 0 15px;
    border-radius: 2px;
    height: 220px;
}

.field--item .tvgla-project .img-responsive {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
}

article.tvgla-category.tvgla-project.clearfix {
    border-right: 1px solid #dddddd;
}

article.tvgla-category.tvgla-project.clearfix:first-of-type {
    border: 0;
}

.tvgla-asset .content .field--name-field-files {
    position: relative;
    clear: both;
}

.tvgla-asset .content .field--name-field-files .field--item .img-responsive {
    margin: 0 auto 20px;
}

.views-col {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.views-col:first-of-type {
    border-left: none;
}

.views-col:last-of-type {
    border-right: none;
}

/**.views-field.views-field-field-image {
    margin-bottom: 15px;
}*/

.views-col .img-responsive {
    margin: 0 auto;
    border: 2px solid rgba(94, 94, 94, 0.18);
}

.views-col.col-1 {
    background: #1B1B1B;
    padding: 10px;
}

.list-group-item ul {
    padding: 0;
    margin: 0;
}

.list-group-item ul li {
    list-style-type: none;
}

.views-field.views-field-field-review-status.list-group-item {
    color: #ccc;
    background: #222;
}

/**span.views-label.views-label-field-review-status {
    float: left;
    padding-right: 5px;
}*/

.table-hover > tbody > tr:hover {
    background-color: #222222;
}

table td a {
    text-decoration: none !important;
    color: #dddddd;
}

/**
* Project Display
*/
.project-display__title {
    text-align: center;
    color: #ddd;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-weight: 300;
}

/**
* Branding Block
*/
.project-branding {
    font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: #dddddd;
    display: block;
    background-color: #222222;
    border: 1px solid #121212;
    padding: 10px;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.project-branding__image {
    position: relative;
    display: block;
}

.project-branding__image div img {
    border: 2px solid rgba(94, 94, 94, 0.18);
    margin-right: 15px;
    float: left;
}

.project-branding__client {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

.project-branding__project {
    display: block;
    font-size: 14px;
    margin: 8px;
}

.row-frontpage.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.frontpage__item-title span a {
    color: #f1f1f1;
    font-size: 20px;
}

.frontpage__item-title span a:hover {
    text-decoration: none;
    color: #c9cccf;
}

.frontpage__item-image .img-responsive {
    margin: 0 auto;
    border: 2px solid #121212;
    -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

.frontpage__item-title,
.frontpage__item-image {
    padding: 10px 0 0;
    text-align: center;
    margin: 0 auto;
}

/**
* Bootstrap Hacks
*/
.panel {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.panel-group {
    margin-top: 20px;
}

.panel-heading {
    padding: 6px 15px;
    border: 1px solid #121212;
}

.panel-dropdown {
    margin-bottom: 20px;
}

.panel-dropdown-container {
    display: none;
}

.panel-group .panel + .panel {
    margin-top: 2px;
}

.row-content {
    margin-bottom: 0;
}

.row-content .list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding: 6px 15px;
    background: rgb(27, 27, 27);
    border: 1px solid #121212;
}

.list-group-item a {
    color: #dddddd;
}

.list-group-item a:hover {
    text-decoration: none;
}

.table > thead > tr > th {
    border-bottom: 2px solid #636363;
}

select#edit-type,
button#edit-submit-global-index {
    background-color: #2d2d2d;
    border: 1px solid #121212;
    color: #dddddd;
}

.select-wrapper::after {
    color: #121212;
}

.select-wrapper select {
    line-height: inherit;
    padding-right: 2em;
}

/**.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgba(255,255,255,0.15);
}*/

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #1B1B1B;
}

/*****/

/**.row-content .list-group-item:hover, .row-content .list-group-item:active{
    background: rgba(255,255,255,0.15);
}*/

.asset-round {
    background-color: rgba(201, 204, 207, 0.08);
}

.asset-round a {
    font-size: 14px;
}

.asset-round ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

/**.tvgla-wrapper {
    height: 100%;
    overflow: auto;
}

#main {

}

.sidebar-container {
    position: relative;
    height: 100%;
    overflow: auto;
}

#sidebarLeft {
    margin: 0;
    border-right: 1px solid #222222;
    background-color: #222222;
}

#sidebarLeft .tabs {
    position: relative;
    top: 20px;
}

#sidebarLeft .navbar-btn {
    margin: 10px 10px 0;
}

#sidebar .navbar-brand {
    padding: 14px;
}

.navbar-header {
    margin-left: 10px;
}

.row {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.full{
    padding-top:70px;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 33%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }

    #sidebar, #sidebar a, #sidebar-footer a {
        padding-left:3px;
    }
}*/

a.name.navbar-brand {
    color: #cacaca;
}

html, body {
    height: 100% !important;
    overflow: hidden;
}

.fa-2x {
    font-size: 1.3em !important;
    color: #808080;
}

.fa-caret-down {
    visibility: hidden;
}

.wrapper, .row {
    display: table;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#client-dropdown {
    display: none;
    float: left;
    line-height: 21px;
    height: 50px;
}

#client-dropdown .btn {
    padding: 0;
    height: 50px;
    width: 150px;
    color: #ddd;
}

#sidebar {
    background-color: rgba(0,0,0,0.5);
    padding: 0;
    float: left;
    min-height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav > li > a {
    white-space: nowrap;
    overflow: hidden;
}

#sidebar > .nav {
    padding: 0 5px;
}

#main {
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    height: 100%;
}

.menu-hidden {
    visibility: hidden;
}

#sidebar ul.tabs--primary.nav.nav-tabs {
    margin-top: 20px;
}

#sidebar .panel-group .panel-heading {
    border-bottom: 1px solid #333;
}

.badge {
    background-color: #5d5c5c;
}

.review {
    display: block;
}

.approved {
    display: none;
}

.imageGroup {
    margin-bottom: 15px;
}

.caption {
    color: #DDDDDD;
    text-align: center;
    margin: 20px auto;
    width: 90%;
}

#main {
    margin-bottom: 50px;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }

    #sidebar .visible-xs {
        display: inline !important;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .row-offcanvas-left.active {
        left: 45%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -45%;
        position: absolute;
        top: 0;
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 3%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -3%;
        position: absolute;
        top: 0;
        width: 3%;
        text-align: center;
        min-width: 42px;
    }
}

@media screen and (max-width: 460px) {
    a.navbar-logout {
        padding: 14px 14px 0 0;
    }
}

#toolbar-link-Yfk_srXQ1BfFX2Sn:before {
    background-image: url(/core/themes/stable/images/core/icons/787878/people.svg);
}

#main .region-content .views-field-field-image .field-content ul {
    list-style-type: none;
}

#main .region-content .views-field-field-image .field-content ul li {
    margin: 10px 0 30px;
}

.image-caption {
    text-align: center;
    margin: 15px 0;
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px dashed #252525;
}

.ajax-image {
    max-width: 100%;
}

.views-field.ajax-field {
    border: 1px solid #121212;
    padding: 10px;
    margin: 0 0 5px;
    background: #121212;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

/**LOADER*/
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.uil-ring-css {
    display: none;
    background: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.uil-ring-css > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #fc2c32;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}

section#block-projectmenublock {
    display: none;
    border: none;
    margin: 0;
    float: right;
}

h2.block-title {
    border-bottom: 1px solid #262626;
    padding-bottom: 6px;
    color: #ddd;
    margin-top: 0;
}

a.use-ajax.btn.btn-default.project-btn.add-category,
a.use-ajax.btn.btn-default.project-btn.add-asset {
    color: #dddddd;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

a.use-ajax.btn.btn-default.project-btn.add-category:hover,
a.use-ajax.btn.btn-default.project-btn.add-asset:hover,
a.use-ajax.btn.btn-default.project-btn.add-category:active,
a.use-ajax.btn.btn-default.project-btn.add-asset:active {
    background-color: rgba(56,56,56,0.76);
    border: 1px solid rgba(103,103,103,0.62);
    border-bottom: transparent;
}

#drupal-modal .ui-dialog .ui-dialog-buttonpane {
    background: #222222;
}

#drupal-modal .node-tvgla-asset-form .layout-region.layout-region-node-main {
    border-right: 1px solid #121212;
}

#drupal-modal .node-tvgla-category-form .layout-region.layout-region-node-secondary{
    display: none;
}

#drupal-modal .layout-region-node-secondary {
    padding-left: 2em;
}
#drupal-modal .field--widget-image-image {
    background: #121212;
}

#drupal-modal {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-size: 15px;
}

#drupal-modal .tabledrag-toggle-weight {
    display: none;
}

#drupal-modal label {
    margin-right: 10px;
}

#drupal-modal .tabledrag-handle {
    display: none;
}

#drupal-modal .image-preview {
    margin: 5px 0;
}

#drupal-modal .image-preview img {
    border: 2px solid #333;
}

#drupal-modal td {
    vertical-align: top;
}

.menu-link-form {
    display: none;
}

.js-form-item-changed {
    display: none;
}

.js-form-item-author {
    display: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-state-default {
    border: 2px solid rgb(109, 109, 109);
    background: #333333;
    color: #FFFFFF;
}

.ui-widget-content{
    background: url('../images/pattern.jpg');
    background-repeat: repeat;
    color: #fff;
    border: 2px solid #121212;
    z-index: 10;
}

.ui-widget-header{
    background: #222222;
    border-top: 1px solid #484848;
    border-left: 1px solid #484848;
    border-right: 1px solid #121212;
    border-bottom: 1px solid #121212;
    color: #fff;
    padding: 6px 15px;
}

.ui-dialog .ui-widget-content.ui-dialog-content {
    background: transparent;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
    background: transparent;
}

.ui-dialog .ui-dialog-title {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-size: 20px;
    font-weight: 100;
}

#drupal-modal .ui-dialog .ui-dialog-buttonpane {
    background: #222222;
}

#drupal-modal ul.dropbutton {
    display: none;
}

#drupal-modal .js-form-item label {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 400;
    color: #DDDDDD;
}

#drupal-modal h4.label,
.js-form-item label:after {
    content: ': ';
}

.js-form-item-revision label:after {
    content: ' ';
}

#drupal-modal .layout-region-node-footer {
    display: none;
}

#drupal-modal .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

#drupal-modal .js-form-type-textfield input {
    color: #222222;
    padding: 0 5px 0;
    border: 2px solid #6b6b6b;
}

#drupal-modal .node-tvgla-category-form .js-form-wrapper,
#drupal-modal .node-tvgla-asset-form .js-form-wrapper {
    padding: 5px 0;
    background: none;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

#drupal-modal .field--name-field-review-status fieldset legend{
    display: none;
}

#drupal-modal .description {
    font-size: 12px;
}

.ui-widget-overlay {
    background: none;
    opacity: 0;
}

#drupal-modal legend {
    margin-bottom: 0;
    color: #DDDDDD;
    border-bottom: 1px solid #484848;
}

#drupal-modal .field--widget-image-image {
    background: #333333;
}

#drupal-modal .field--name-langcode {
    display: none;
}

#drupal-modal h4.label {
    display: inline;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 0;
    color: #ddd;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}
#drupal-modal .form-time,
#drupal-modal .form-date {
    background: #c9cccf;
    color: #222222;
    padding: 0 5px 0;
    border: 2px solid #6b6b6b;
}

#drupal-modal .option:after{
    content:'';
}

#drupal-modal td input.js-form-submit {
    background: #222;
    border: 1px solid #ccc;
    margin-top: 5px;
}

#drupal-modal .file--image {
    background-image: none;
}

#drupal-modal .file--image a {
    color: #DDDDDD;
}

#drupal-modal .file-size {
    padding-bottom: 5px;
}

#drupal-modal th {
    padding: 5px 0;
    color: #DDDDDD;
    font-weight: 400;
    vertical-align: top;
}

section#block-userlogin-2 ul {
    display: none;
}

.js-form-submit {
    border: 1px solid #ddd;
}

section#block-userlogin-2 {
    margin-top: 10px;

}

section#block-contenttype {
    display: none;
}



