
.display-none {
    display: none;
}
a {
    color: #666;
    font-weight: bold;
}
a:hover {
    color: #999;
}

/* NAV BAR */
.navbar-static-top {
    margin: 0 0 20px 0;
}
.col-sm-12 .navbar-static-top {
    margin: 20px 1.85%;
}

/* NAV BAR LOGO */
body:not(.page-node-type-asset-round) .frontpage__project-container a.logo.navbar-btn {
    display: none;
}

/* TOP BAR BUTTON BLOCKS */
section#block-add-client-button,
section#block-add-campaign-button,
section#block-add-asset-button,
section#block-asset-round-buttons,
section#block-client-select,
section#block-user-logout-button {
    float: left;
}
section#block-client-campaigns-grid {
    margin: 0 auto;
}
section#block-campaigns-grid img, section#block-client-campaigns-grid img {
    border: 1px solid #000;
}

nav.tabs {
    padding: 0 10px;
}

/* CLIENT FILTER PAGE */
.client_title,
.content_title {
    display: block;
    margin: 90px auto 50px;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}
.client_title {
    margin: 20px auto;
}
.path-group .field--name-field-client-logo img {
    margin: 0 auto;
}


/* Campaign Grid */
section#block-campaigns-grid,
section#block-client-campaigns-grid {
    margin: 0 auto;
    text-align: left;
}
section#block-campaigns-grid .content-item,
section#block-client-campaigns-grid .content-item {
    display: inline-block;
    width:16%;
    margin:1.85%;
    text-align: center;
    vertical-align: top;
}
section#block-campaigns-grid .field-content,
section#block-client-campaigns-grid .field-content {
    padding: 15px 0px;
}
section#block-campaigns-grid a,
section#block-client-campaigns-grid a {
    color: #666;
}
section#block-campaigns-grid a:hover,
section#block-client-campaigns-grid a:hover {
    color: #d22127;
}


/* TEAM MEMBERS */
article.campaign .field--name-field-team- {
    width: 60%;
    margin: 1% auto;
}
article.campaign .field--name-field-team- .field--label {
    color: #FFF;
    background-color:#343434;
    border-left: 30px solid #d22128;
    text-align: left;
    padding:5px 20px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}
article.campaign .field--name-field-team- .field__items {
    display: table;
    text-align: left;
    background-color: #f2f2f2;
    width: 100%;
}
article.campaign .field--name-field-team- .field__items > .field--item {
    display: inline-block;
    width: 50%;
    padding: 4% 5%;
    font-size: 12px;
    line-height: 18px;
}
article.campaign .field--name-field-team- .team-member {
    width: 100%;  
    text-align: left; 
}
article.campaign .field--name-field-team- .team-member .team-img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width:35%;
    height: 0;
    padding-top: 35%;
    border-radius: 50%;
    overflow: hidden;
    background: #929292;
}
article.campaign .field--name-field-team- .team-member .team-img img {
    width:100%;
    height:auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
article.campaign .field--name-field-team- .team-member .team-info {
    display: inline-block;
    vertical-align: top;
    padding:2%;
}
article.campaign .field--name-field-team- .team-member .team-name {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    color: #333333;
}
article.campaign .field--name-field-team- .team-member .team-role {
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 500;
    color: #929292;
    margin-bottom: .25em;
}
article.campaign .field--name-field-team- .team-member .team-email,
article.campaign .field--name-field-team- .team-member .team-phone {
    font-size: 12px;
    line-height: 1.5em;
    color: #666666;

}


/* ASSET ROUNDS */
#ajax-data,
article.asset-round {
    display: table;
    text-align: center;
    width: 100%;
    font-size: 14px;
}
#ajax-data .field,
article.asset-round .field
 {
    margin:0 auto;
}
#ajax-data .field img,
article.asset-round .field img {
    display: inline-block;
}
#ajax-data .field--name-field-videoasset .field__items div,
article.asset-round .field--name-field-videoasset .field__items div {
    padding: 5%;
    background-color: #f2f2f2;
}
#ajax-data .paragraph .field--name-field-comment,
article.asset-round .paragraph .field--name-field-comment {
    padding:1% 0;
}
#ajax-data .project-title {
    font-size: 18px;
    padding:1% 0;
    font-weight: bold;
}

.field-content img {
    width:100%;
    height:auto;
}

#toolbar-administration .field .field--name-entity-id .field--type-entity-reference .field--label-hidden .field--item {
    display:none;
}

.paragraph .field--item {
    padding-bottom: 50px;
}


/** Direct Asset Page */
.page-node-type-asset-round #main {
    position: relative;
    overflow-y: visible;
    height: auto;
}
.page-node-type-asset-round .asset-round {
    max-width: 80%;
    margin: auto;
    overflow: auto;
}
.page-node-type-asset-round .asset-round .content_title {
    display: none;
}
.page-node-type-asset-round .asset-round .field {
    margin: 10px auto;
}
.page-node-type-asset-round .asset-round .field--name-field-project,
.page-node-type-asset-round .asset-round .field--name-field-round,
.direct-asset-title {
    display: inline-block;
    padding: 0;
    margin: 10px auto 30px;
    background: inherit;
    color: #000000;
    font-weight: 600;
}
.page-node-type-asset-round .asset-round .field--name-field-round {
    text-transform: lowercase;
}
.page-node-type-asset-round .asset-round .field--name-field-round::before {
    content:'-';
    display: inline;
}
.page-node-type-asset-round .asset-round .field--name-field-round div {
    float: none;
    display: inline;
    padding: 0;
    background: inherit;
    color: inherit;
    font-weight: inherit;
}
.page-node-type-asset-round .asset-round .field--name-field-round div::after {
    content: none;
}
.page-node-type-asset-round .asset-round .paragraph {
    margin-bottom: 40px;
}
.page-node-type-asset-round .asset-round .field--name-field-comment {
    color: #999999;
    font-weight: 500;
}

/** User Password Reset **/
.request-password-link {
    display: none;
}

/** GROUP EDIT SCREEN **/
.group-client-group-edit-form {
    text-align: left;
}
    .group-client-group-edit-form #edit-actions {
        text-align: right;
    }
    .group-client-group-edit-form #edit-actions a {
        margin: 0 2em;
    }

#select-panel {
  display: flex;
  align-content: center;
  justify-content: space-between;

  width: 100%;

  padding-block: .5em;
}

#selected-checkbox {
  margin-left: 1em;
  font-size: 1.1em;
}

#selected-action-button {
  margin-right: 1em;
}

.select-toggle {
  margin-right: .5em;
}
