{# Content #}
<div class="row module-content">
    <nav class="tabs" role="navigation" aria-label="Tabs">
        <h2 class="visually-hidden">Primary tabs</h2>
        <ul class="tabs--primary nav nav-tabs"><li class="active"><a href="/universal-pictures/jurassic-world/2-0" data-drupal-link-system-path="node/2">View<span class="visually-hidden">(active tab)</span></a></li>
            <li><a href="/node/2/edit" data-drupal-link-system-path="node/2/edit">Edit</a></li>
            <li><a href="/node/2/display" data-drupal-link-system-path="node/2/display">Manage display</a></li>
            <li><a href="/node/2/delete" data-drupal-link-system-path="node/2/delete">Delete</a></li>
            <li><a href="/devel/node/2" data-drupal-link-system-path="devel/node/2">Devel</a></li>
        </ul>
    </nav>

    <div class="views-element-container contextual-region form-group"><div class="contextual-region view view-project-display view-id-project_display view-display-id-page_1 js-view-dom-id-7c4d8b78cd9481de059eeb09414e82c22e4ebc660fb86cdffaef9788a86ac16e">
        <div data-contextual-id="entity.view.edit_form:view=project_display:location=page&amp;name=project_display&amp;display_id=page_1&amp;langcode=en"></div>
        <div class="view-content">
            <div class="views-view-grid horizontal cols-1 clearfix">
                <div class="list-item">
                    <div class="views-col col-1" style="width: 100%;">
                        <div class="views-field views-field-title project-display__title"><span class="field-content">Jurassic World</span></div><div class="views-field views-field-field-image">
                            <div class="field-content">
                                <a href="http://review.tvg.la/sites/default/files/2016-06/jurassic-world-new.jpg" title="Jurassic World" rel="gallery-tvgla_project-2-GuyeTE7ji7E" class="colorbox">
                                    <img src="/sites/default/files/styles/large/public/2016-06/jurassic-world-new.jpg?itok=76mupk9P" alt="" typeof="foaf:Image" class="img-responsive">
                                </a>
                            </div>
                        </div>
                            <div class="views-field views-field-comments-link">
                                <span class="field-content"></span>
                            </div>
                        <div class="views-field views-field-field-comments">
                            <div class="field-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>